{% extends "blog/base.html" %}
{% load social_share %}
{% block title%}{{ artigo.Titulo }} - Felipe Ferreira{% endblock %}

{% block extrameta %}
<meta property="og:type" content="website" />
<meta property="og:image" content="{{artigo.ImagemTopo.url}}" />
<meta property="og:description" content="{{artigo.Conteudo|striptags|truncatewords:40}}" />
{% endblock %}

{% block content %}
<div class="row">
            <div class="box">
                <div class="col-lg-12">
    <div class="col-lg-12 text-center">
        <img class="img-responsive img-border img-full" src="{{ MEDIA_URL }}/{{artigo.ImagemTopo}}" alt="">
        <h2>{{artigo.Titulo}}
            <br>
            <small>{{artigo.DataPublicacao|timesince}}</small>
        </h2>
        <div class="text-left">
            {{artigo.Conteudo|safe}}
        </div>
        <div class="text-center">
            <a href="http://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri|urlencode}}" target="blank"><img src='/static/img/icons/48/Facebook.png' title='Compartilhar no Facebook'></a> 
            <a href="http://plus.google.com/share?url={{request.build_absolute_uri|urlencode}}"  target="blank"><img src='/static/img/icons/48/Gplus.png' title='Compartilhar no G+'></a>
            <a href="https://www.linkedin.com/shareArticle?mini=true&title={{ artigo.Titulo|urlencode }}&url={{request.build_absolute_uri|urlencode}}" target="blank"><img src='/static/img/icons/48/Linkedin.png' title='Compartilhar no Linkedin'></a>
        </div>
        {% if rodapepagina %}
            {{ rodapepagina|safe }}
        {% endif %}
        <hr>
    </div>
</div></div></div>
{% endblock %}
